{% extends "uiv3/base.html" %}
{% from "uiv3/_macros.html" import icon with context %}
{% set nav = 'workflows' %}
{% block title %}{{ v3_kind_labels.get(kind, kind) }} #{{ workflow.id }}{% endblock %}
{% block crumbs %}<a href="/uiv3/workflows">工作流</a>{{ icon('chevron-right') }}<a href="{{ module_url }}">{{ v3_kind_labels.get(kind, kind) }}</a>{{ icon('chevron-right') }}<span class="current">#{{ workflow.id }}</span>{% endblock %}
{% block main %}
<div class="page" data-error-scope>
  <div class="form-error page-error" data-form-error hidden></div>
  {% include v3_panel %}
</div>
{% endblock %}
